header#site-header
  background-color: $header-background-color
  background-image: linear-gradient(135deg,$body-background-color,$header-background-color,$header-background-color,$body-background-color)
  border-bottom: 1px solid transparentize($link,0.8)
  text-align: center
  padding: 80px 15px
  margin: 0 auto

  h1
    font-size: 3rem
    line-height: 1.1
  
  h2
    font-size: 1.5rem