extends ../includes/wrapper.pug

block variables
  - var title = "TwitchRandom | Josh RosenHanst - Web Development and Design"
  - var description = "TwitchRandom is a project that finds random video game streams to watch, using the Twitch.tv API."
  - var url = "https://joshrosenhanst.com/twitchrandom.html"
  - 
    var banner = {
      src: "https://joshrosenhanst.com/assets/img/twitchrandom/banner.png",
      type: "image/png",
      width: "1200",
      height: "630",
      alt: title
    }

block header
  include ../includes/nav_header.pug

block content
  article.project

    //- Intro
    section#intro.site-section
      figure.project-thumbnail.align-right
        img(src="./assets/img/twitchrandom/twitchrandom-main.jpg", alt="TwitchRandom screenshot")
      h1: span.header-text TwitchRandom

      //- Project links
      .project-links
        a.project-link.twitchrandom-link(href="https://twitchrandom.com")
          +icon("twitchrandom", "button_icon")
          span.button_text View Website
        
        a.project-link.github-link(
          href="https://github.com/joshrosenhanst/twitchrandom"
          target="_blank" 
          rel="noopener noreferrer"
        )
          +icon("github", "button_icon")
          span.button_text Source Code

      p <a href="https://twitchrandom.com">TwitchRandom</a> is a project that finds random <a href="https://twitch.tv" target="_blank" rel="noopener noreferrer">video game streams</a> to watch, using the <a href="https://dev.twitch.tv/docs/v5/" target="_blank" rel="noopener noreferrer"> Twitch.tv API</a>.

      p Because the streams are completely random, you can find new games and broadcasters that aren't as well known.

      p The site can also filter the random streams by game.

      p <strong>Technologies:</strong> Laravel, Twitch.tv API, jQuery, Bootstrap, HTML5, CSS3

    //- Twitch.tv API
    section#twitch-api.site-section
      h2: span.header-text Twitch.tv API

      p TwitchRandom is built on the <a href="https://laravel.com/" target="_blank" rel="noopener noreferrer">Laravel PHP framework</a> and uses the <a href="https://github.com/jofner/Twitch-SDK" target="_blank" rel="noopener noreferrer">TwitchTV SDK for PHP</a> tool to connect to the Twitch.tv API.

      p The website requests a random stream using the <a href="https://dev.twitch.tv/docs/v5/reference/streams/#get-live-streams" target="_blank" rel="noopener noreferrer">Get Live Streams API endpoint</a> with a randomized offset value. The Twitch API will return a <code>JSON</code> response with the details of the stream located at the random offset. TwitchRandom also uses this API endpoint to find randomized streams filtered by game.

      p With the <code>JSON</code> response, the site can embed the Twitch channel's live stream video into the layout of the website.

      p In addition to the random stream functionality, the site also grabs a list of the most popular games using the <a href="https://dev.twitch.tv/docs/v5/reference/games/#get-top-games" target="_blank" rel="noopener noreferrer">Get Top Games API endpoint</a>. The top games are used to populate the list of games in the header navigation menu as well as the <a href="https://twitchrandom.com/games" target="_blank" rel="noopener noreferrer">All Games page</a>.

    //- Featured Content
    section#featured-content.site-section
      figure.project-thumbnail.align-center
        img(src="./assets/img/twitchrandom/featured-streams.jpg", alt="Featured Streams screenshot showing thumbnail links of the 3 Twitch.tv featured streams")
      h2: span.header-text Featured Content
      
      p Although it can be interesting to find hidden gems using the random stream functionality, users can also find the top featured Twitch streams in the Featured Streams section. This section is visually emphasized and also ends with a responsive Google Adsense ad that fits comfortably into the layout.

    //- Slogans
    section#slogans.site-section
      h2: span.header-text Slogans
      p In the header of the website, the site displays a random slogan when the page is loaded. These slogans are taken from popular Twitch and video game culture.

    //- Thumbnail Galleries
    section#thumbnail-galleries.site-section
      figure.project-thumbnail.align-center
        img(src="./assets/img/twitchrandom/galleries-screenshot.jpg", alt="Thubmnail Gallery screenshot showing the thumbnail links in the Random Streams section")
      h2: span.header-text Thumbnail Galleries

      p Below the Featured Streams section, the site loads two scrollable galleries with thumbnail links to other streams

      p The first gallery includes randomly selected channels and the second gallery includes channels that are playing the same game as the embedded stream at the top of the page. The galleries can be loaded with new random stream links by pressing the Randomize Gallery buttons.

    //- Design
    section#design.site-section
      figure.project-thumbnail.align-right
        img(src="./assets/img/twitchrandom/mobile-screenshot.jpg", alt="TwitchRandom mobile design screenshot showing how the website looks in a mobile browser")
      h2: span.header-text Design

      p TwitchRandom uses a responsive design built with the <a href="http://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap CSS framework</a>. The site's layout is designed to look clean on both mobile and desktop browsers. The site uses a color scheme of purple and white similar to Twitch.tv.

    //- AJAX Usage
    section#ajax.site-section
      h2: span.header-text AJAX Usage
      p In order to keep the user interface feeling fluid and responsive, many sections of the site make use of asynchronous AJAX calls which do not require reloading the entire page.

      p For example, the Random Stream button next to the embedded video will replace the current stream with a new, random stream. When the button is pressed, a new stream is requested via AJAX and a new random slogan is placed in the website branding.

      p Additionally, the site's URL is updated to the new stream's unique URL. Finally, using the <a href="https://github.com/browserstate/history.js/" target="_blank" rel="noopener noreferrer">History.js</a> library, the site creates a new entry in the browser's history record, emulating the act of changing pages. These two actions make it so that the random streams are accessible later if the user hits the back button or enters the stream URL.
      
      p The galleries are also requested via AJAX and can be reloaded with the Randomize Gallery buttons.

    //- Browser Support
    section#browser-support.site-section
      h2: span.header-text Browser Support

      p The website uses jQuery for much of its front-end functionality and is compatible with all modern browsers as well as older Internet Explorer versions. Unfortunately, the Twitch.tv embedded player only <a href="https://help.twitch.tv/customer/portal/articles/2489984-supported-browser-versions" target="_blank" rel="noopener noreferrer">supports Internet Explorer 11</a>.

